# Intermediate directories
bin/
build*/
doc/
include/
lib/

# Spotlight
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Solution Settings folder
.vs/*
!.vs/launch.vs.json
!.vs/tasks.vs.json

# Dear ImGui settings
imgui.ini

# Compilation database
compile_commands.json

# Tooling and language server caches
.cache/
